.contact-btn {
    background-color: #ec5d24;
    color: black;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    z-index: 20;
    border: none !important;
  }
  .contact-btn:hover {
    background-color: black !important;
    color: #ec5d24 !important;
    border: none !important;
  }
  