@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

.footer-btn {
    padding: 12px 24px;
    background-color: #ffc107;;
    color: black;
    font-size: 1vw;
    white-space: nowrap;
    font-weight: bold;
    border: 2px solid #ffc107;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 50px; /* added margin-bottom */
  }
  .footer-btn:hover {
    background-color: black !important;
    color: #ffc107 !important;
    border: none !important;
  }
  .text-yellow{
    color:#ffc107;
  }
  /* @media (max-width: 1290px) {
    .footer-row {
     
    }
  } */
  .foot{
    font-family: 'Voltaire', sans-serif;
    white-space: nowrap;
    flex-direction: column;
  }
  .footer-container{
    position: relative;
    top: 70px;
  }
  @media (max-width: 1190px) {
    .foot .row {
      flex-direction: column;
    }
    .foot .col {
      margin-bottom: 2rem;
    }
    .footer-container{
        position: relative;
        right: 100px;
    }
  }
  