@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.sealcoat-title {
  font-family: 'Electrolize', sans-serif;
  text-shadow: -2px -2px 0 #ec5d24, 2px -2px 0 #ec5d24, -2px 2px 0 #ec5d24, 2px 2px 0 #ec5d24;
  font-weight: bold;
  font-size: 150px;
}

.sealcoat-subtitle {
  font-family: 'Electrolize', sans-serif;
  font-weight: bold;
  font-size: 60px;
}
@media(max-width:1399px) {
    .sealcoat-subtitle{
        font-size: 50px;
    }
}
@media(max-width:1199px) {
    .sealcoat-subtitle{
        font-size: 40px;
    }
    .sealcoat-title{
        font-size: 120px;
    }
}
@media(max-width:991px) {
    .sealcoat-subtitle{
        font-size: 30px;
    }
}
@media(max-width:767px) {
    .sealcoat-subtitle{
        font-size: 50px;
    }
    .sealcoat-title{
        font-size: 80px;
    }
}
@media(max-width:575px) {
    .sealcoat-subtitle{
        font-size: 11vw;
    }
    .sealcoat-title{
        font-size: 15vw;
    }
}

.sealcoat-container {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.sealpage-text {
  margin-bottom: 20px;
}

.image-row .col-xs-4 {
  transition: all 0.3s;
}

.image-row .col-xs-4:hover {
  transform: scale(1.1);
}

.selected-image img {
  border: 5px solid #ec5d24;
}

