@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

/* .services {
    background: khaki;
    position: relative;
    bottom: 215px;
  } */
  .services {
    background: url('/public/images/serv.jpeg') no-repeat center center;
    background-size: cover;
    /* background: white; */
    position: relative;
    bottom: 196px;
    margin-top: -100px;
    font-family: 'Voltaire', sans-serif;
    font-weight: bolder;  
    
  }
 
  .services:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: 0;
    margin: 10px;
    margin-left: -1px;
  }
  
  .services-container {
    height: 600px;
    position: relative;
    top: 50px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /* padding-bottom: 0px; */
  }
 
  
  .col-md-4:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  @media (max-width: 767px) {
    .services-container{
      height: 1500px;
      width: 80% !important;
    }
  }
  @media (max-width: 500px) {
    .services-container{
      height: 1400px;
    }
  }
  @media (max-width: 400px) {
    .services-container{
      height: 1300px;
    }
  }
  @media (max-width: 300px) {
    .services-container{
      height: 1200px;
    }
  }
  
  .services-title {
    font-weight: bolder;
    /* text-decoration: underline; */
    text-align: center;
    margin: 2rem 0;
    font-size: 55px;
  }
  @media (max-width: 436px) {
    .services-title{
      font-size: 45px !important;
    }
  }
  @media (max-width: 364px) {
    .services-title{
      font-size: 35px !important;
    }
  }
  
  .service-name {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .service-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #ffc107;
  }
  
  .service-description {
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-weight: bold;
  }
 
  .service-button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    z-index: 20;
    border: none !important;
  }
  .services .service-button:hover {
    background-color: black !important;
    color: #ffc107 !important;
    border: none !important;
  }
  
  .service-enter {
    opacity: 0;
    transform: translateY(-50%);
  }
  
  .service-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
  }
  
  .service-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .service-exit-active {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
  }
  