/* .services {
    background: khaki;
    position: relative;
    bottom: 215px;
  } */
  .services {
    background: url('/public/images/serv.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    bottom: 200px;
    z-index: -2;
  }
  
  .services:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 0, 0.7);
    z-index: -3;
  }
  
  
  .services-container {
    height: 85vh;
    position: relative;
    top: 115px;
  }
  
  .services-title {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin: 2rem 0;
    font-size: 55px;
  }
  
  .service-name {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .service-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #ffc107;
  }
  
  .service-description {
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
  }
  
  .service-button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }
  .services .service-button:hover {
    background-color: black;
    color: #ffc107;
  }
  