@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


/* .services {
    background: khaki;
    position: relative;
    bottom: 215px;
  } */
  .services {
    /* background: url('/public/images/serv.jpeg') no-repeat center center; */
    /* background-size: cover; */
    background: white;
    position: relative;
    bottom: 200px;
    margin-top: -100px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;    
    
  }
 
  /* .services:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 223, 45, 0.7);
    z-index: 0;
  } */
  
  
  .services-container {
    /* height: 85vh; */
    position: relative;
    top: 115px;
    padding-bottom: 200px;
    margin-bottom: 150px;
  }
  @media (max-width: 767px) {
    .services-container{
      height: 150vh;
      width: 80% !important;
    }
  }
  
  .services-title {
    font-weight: bolder;
    /* text-decoration: underline; */
    text-align: center;
    margin: 2rem 0;
    font-size: 55px;
  }
  @media (max-width: 436px) {
    .services-title{
      font-size: 45px !important;
    }
  }
  @media (max-width: 364px) {
    .services-title{
      font-size: 35px !important;
    }
  }
  
  .service-name {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .service-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #ffc107;
  }
  
  .service-description {
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-weight: bold;
  }
 
  .service-button {
    background-color: #ffc107;
    color: black;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    z-index: 20;
    border: none !important;
  }
  .services .service-button:hover {
    background-color: black !important;
    color: #ffc107 !important;
    border: none !important;
  }
  