/* Set the height of the hero section */
.slide-section {
    height: 60vh;
    position: relative;
    bottom: 200px;
  }
  
  /* Center the slideshow container vertically and horizontally */
  .slideshow-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    min-width: 348px;
  }
  
  /* Set the size of the images and center them */
  .slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  /* Show only the active slide */
  .slide:not(.active) {
    display: none;
  }
  
  /* Set the styles for the book now button */
  .free-quote {
    position: absolute;
    z-index: 1;
    top: 60%; /* updated value */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: transparent;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 50px; /* added margin-bottom */
  }
  
  /* Set the styles for the book now button on hover */
  .free-quote:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Media query to ensure hero image takes up full width when screen is between 620px and 708px */
  @media (min-width: 620px) {
    .slideshow-container {
      min-width: 715px;
    }
  }
  @media (min-width: 940px) {
    .slideshow-container {
      min-width: 1092px;
    }
  }
  @media (min-width: 1260px) {
    .slideshow-container {
      min-width: 1450px;
    }
  }
  
  /* Styles for hero title */
  .slide-title {
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px; /* updated value */
  }
  
  /* Styles for hero subtitle */
  .slide-subtitle {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 100px; /* added margin-top */
    margin-bottom: 10px; /* added margin-bottom */
  }
  
  /* Styles for hero content container */
  .slide-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 80%;
  }
  